* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: black;
    background: url("../assets/bg.svg"),
        linear-gradient(90deg, rgb(160, 0, 27), rgb(170, 77, 0), rgb(149, 151, 0), rgb(0, 158, 47));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    backdrop-filter: blur(1.2px);
}

.log_panel {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    padding: 50px;
}

.title_log {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 0, 76);
    text-shadow: 0 0px 10px rgba(255, 0, 76, 0.527);
}

.form_log_div h1 {
    font-size: 25px;
    margin-bottom: 30px;
}

.form_log_div {
    background-color: rgba(0, 0, 0, 0.774);
    color: white;

    border: 0.5px solid rgb(255, 0, 76);
    padding: 40px;
    border-radius: 20px;

    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.form_input_group {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px 10px;
    width: 100%;
    text-align: left;
}

.form_input_group label {
    align-self: center;
    font-weight: bold;
}

.form_input_group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.input-pair {
    display: flex;
    gap: 10px;
}

.submit_button_log {
    grid-column: 1 / span 2;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    color: rgb(255, 0, 76);
    font-weight: bold;
    background: none;
    box-shadow: none;
    border: 0.5px solid rgb(255, 0, 76);
}
.submit_button_log:hover {
    grid-column: 1 / span 2;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    color: rgb(255, 255, 255);
    font-weight: bold;
    background: linear-gradient(90deg, rgb(255, 0, 106), rgb(255, 196, 0));
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
    border: 0.5px solid rgb(255, 0, 76);
}

.forgot_password {
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: 15px;
}

.forgot_password a {
    color: rgb(255, 0, 76);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.forgot_password a:hover {
    color: rgb(255, 148, 180);
    text-decoration: underline;
}

.register_link {
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.register_link span {
    color: white;
}

.register_link a {
    color: rgb(255, 0, 76);
    text-decoration: none;
    font-weight: bold;
}

.register_link a:hover {
    color: rgb(255, 148, 180);
    text-decoration: underline;
}